<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Hotel Frontdesk Gruppe3 {% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/css/animate.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/css/bootstrap.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/css/magnific-popup.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/css/owl.carousel.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/fonts/ionicons/css/ionicons.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/template/fonts/fontawesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/fontawesome/css/all.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/fontawesome/css/brands.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/fontawesome/css/solid.css') }}" />
</head>
<body>
<header role="banner">

    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">LuxuryHotel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar-light" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link {% if page == 'index' %} active {% endif %}" href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('rooms') }}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Rooms</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="{{ path('rooms') }}">Room Videos</a>
                            <a class="dropdown-item" href="{{ path('rooms') }}">Presidential Room</a>
                            <a class="dropdown-item" href="{{ path('rooms') }}">Luxury Room</a>
                            <a class="dropdown-item" href="{{ path('rooms') }}">Deluxe Room</a>
                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page == 'blog' %} active {% endif %}" href="{{ path('blog') }}">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page == 'about' %} active {% endif %}" href="{{ path('about') }}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page == 'contact' %} active {% endif %}" href="{{ path('contact') }}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if page == 'booknow' %} active {% endif %}" href="{{ path('booknow') }}">Book now</a>
                    </li>
                    <li class="nav-item cta">
                        <a class="nav-link {% if page == 'admin' %} active {% endif %}" href="{{ path('admin_login') }}"><span>Admin</span></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<!-- END header -->
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

<script src="{{ asset('bundles/app/template/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/jquery-migrate-3.0.0.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/popper.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/jquery.stellar.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ asset('bundles/app/template/js/magnific-popup-options.js') }}"></script>

<script src="{{ asset('bundles/app/template/js/main.js') }}"></script>
</body>
</html>
