{% extends 'base.html.twig' %}
{% set page = 'book' %}

{% block body %}
    <section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url({{ asset('bundles/app/template/images/big_image_1.jpg') }});">
        <div class="container">
            <div class="row align-items-center site-hero-inner justify-content-center">
                <div class="col-md-12 text-center">

                    <div class="mb-5 element-animate">
                        <h1>Reservation</h1>
                        <p>Discover our world's #1 Luxury Room For VIP.</p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- END section -->

    <section class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <h2 class="mb-5">Reservation Form</h2>
                    <form action="{{ path('reservation_create') }}" method="post">
                        {% include '@Admin/Reservation/form.fields.html.twig' %}
                    </form>
                </div>
                <div class="col-3">
                    <h3 class="mb-5">All Reservations</h3>
                    {% if reservations|length > 0 %}
                        <div class="col-12">
                            {% for reservation in reservations %}
                                <div class="row">
                                    <a href="{{ path('reservation_delete', {'id' : reservation.id}) }}"><i
                                                class="fas fa-trash text-danger mr-2"></i></a>
                                    {{ reservation.id }} - Room: {{ reservation.room.type }}
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="col-12 font-italic">
                            No reservations available
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        var today = new Date().toLocaleDateString('de-DE');
        $('.datepicker').val(today);
        $('.datepicker').val(today);

        $('.datepicker').datepicker({
            format: 'd.m.yyyy',
        });
    </script>
{% endblock %}